.roll,
.total {
  position: relative;
  box-sizing: border-box;
  min-height: 3rem;
  margin-bottom: 0;
  border: 1px solid #007fff;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
}

.column-title {
  background: #d1d1d1;
  border-radius: .4rem;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: uppercase
}
